.Board {
  display: grid;
  grid-template-rows: 50px auto;
  height: 100%;
  overflow: auto;
}

.Board .board-header {
  align-self: center;
  position: relative;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.Board .board-header .board-milestone-select {
  min-width: 250px;
  width: 30%;
}

.Board .board-header .ant-btn {
  align-self: center;
  position: absolute;
  right: 5px;
  top: 10px;
}

.Board .board-header .ant-btn i {
  font-size: 16px;
}

.Board .board-header .milestone-name {
  margin: 0 15px;
  font-size: 25px;
}

.Board .board-body {
  display: flex;
  flex-direction: row;
}

.Board .state-container {
  border-right: 1px solid lightgray;
  flex: 1;

  display: grid;
  grid-template-rows: 50px auto;
  align-items: center;
  min-width: 200px;
}

.Board .state-container:last-child {
  border: none;
}

.Board .state-container .state-header {
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  border-bottom: 1px solid lightgray;
  height: 90%;
}

.Board .state-content {
  height: 100%;
  overflow: hidden;
}
