.task-history .task-history-title i {
  color: gray;
  opacity: 0.6;
  cursor: pointer;
}

.task-history .task-history-title i:hover {
  opacity: 1;
}

.history-modal .modal-entry {
  display: grid;
  grid-template-columns: 20% 20% 60%;
}

.history-modal .modal-entry .date {
  font-weight: bold;
}

.history-modal .modal-entry .diff {
  display: grid;
  grid-template-columns: 45% 5% 45%;
  justify-items: center;
  align-items: center;
}

.history-modal .modal-entry .i {
  transform: scaleX(1.4);
}
