.TaskForm i.anticon-info-circle {
  margin-left: 3px;
  color: #1890ff;
}

.TaskForm .InputWithList i.anticon {
  margin-right: 3px;
}

.TaskForm .InputWithList {
  text-align: left;
  cursor: default;
}

.TaskForm .InputWithList .todo {
  cursor: pointer;
}

.TaskForm .todo .todo-text {
  cursor: grab;
  word-break: break-word;
}

.TaskForm .todo .todo-text:active {
  cursor: grabbing !important;
}

.TaskForm .ant-calendar-picker {
  width: 100%;
}
