.TasksList {
  padding: 10px 60px;
}

.TasksList .ant-typography {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.TasksList ul,
.TasksList li {
  list-style: none;
  list-style-type: none !important;
  margin: 0 !important;
}

.TasksList .item-action i.anticon-check-circle {
  color: green;
  margin-right: 3px;
}

.TasksList .milestone-header {
  display: grid;
  grid-template-columns: 10px 25% min-content auto auto min-content;
  text-align: left;
  align-items: center;
}

.TasksList .milestone-header .title {
  font-size: 110%;
  grid-column: 2;
}

.TasksList .milestone-header .ant-tag {
  grid-column: 3;
}

.TasksList .milestone-header .daterange {
  grid-column: 4;
}

.TasksList .milestone-header .ant-progress {
  grid-column: 5;
}

.TasksList .milestone-header .milestone-actions {
  justify-self: right;
  display: flex;
  padding: 0 10px;
  grid-column: 6;
}

.TasksList .milestone-actions button {
  margin-left: 3px;
}

.edit-task-modal .MilestoneForm button.submit-button {
  margin-left: 30px;
}

.edit-milestone-modal .MilestoneForm button.submit-button {
  margin-left: 40px;
}

.TasksList .tasks-list .view-action {
  padding: 0 10px;
}

.TasksList .tasks-list .view-action:hover {
  color: gray;
  text-decoration: underline;
}

.TasksList .tasks-list .ant-list-item {
  text-align: left;
  padding: 10px;
}

.TasksList .tasks-list .task-item {
  padding: 0 30px;
  display: flex;
  flex-direction: column;
}

.TasksList .ant-list-item .ant-tag {
  cursor: pointer;
}
