.Companies .top-bar {
  display: grid;
  align-items: center;
  justify-content: right;
  padding: 0 20px;
}

.Companies .ant-list {
  width: 80%;
  max-width: 700px;
  margin: auto;
}

.Companies .content .ant-list-item {
  background-color: rgba(164, 210, 251, 0.1);
  border: 1px solid lightblue;
  padding: 10px;
  margin-bottom: 15px;
}

.Companies .CompanyForm {
  border: none;
}
