.Signin {
  /* width: %; */
  /* margin: 80px 0; */
  min-width: 700px;
  max-width: 700px;
  min-height: 420px;
  height: auto;
}

.Signin .invoice-header {
  font-size: 20px;
}

.Signin .payments-form {
  margin-top: 50px;
}

.Signin .payments-form .StripeElement {
  margin-top: 15px;
  margin-bottom: 10px;
}

.Signin .example {
  width: 600px;
}

.Signin button {
  margin-top: 40px !important;
}

.Signin .StripeElement {
  width: 90%;
}

.Signin .example .ant-btn {
  width: 200px;
}

.Signin .billing-info {
  width: 85%;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-right: 50px;
}
