@import "~antd/dist/antd.css";

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: darkslategray !important; */
  /* background-color: #fffbe7 !important; */
  /* background-color: #e7f3ff !important; */
  background-color: white !important;
  color: black;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ant-input {
  border-radius: 0;
}

.ant-btn:not(.ant-btn-icon-only) {
  border-radius: 0 !important;
}

.ant-radio-button-wrapper {
  border-radius: 0 !important;
}

.ant-select-selection {
  border-radius: 0;
}

.ant-modal-content {
  border-radius: 0;
}

.ant-badge > a {
  color: white;
}

.InputWithList .todo {
  display: grid;
  grid-template-columns: auto auto;
  text-align: left;
  line-height: 22px;
  justify-content: left;
  margin-bottom: 5px;
}

.InputWithList .todo i {
  margin-top: 4px;
}

.emoji-mart {
  position: absolute;
  bottom: 20px;
  z-index: 1000;
}

.task-tag {
  transform: scale(0.9);
  margin-right: -3px;
}

.ant-badge-count {
  right: -8px;
  top: 2px;
}
