.Spaces .ant-list {
  width: 80%;
  max-width: 700px;
  margin: auto;
}

.Spaces .space-title .ant-tag {
  margin-left: 10px;
}

.Spaces .space-title {
  cursor: pointer;
}

.Spaces .space-title:hover {
  text-decoration: underline;
}
