.StateInput .input-wrapper {
  height: auto;
  position: relative;
}

.StateInput .input-wrapper .err {
  font-size: 10px;
  position: absolute;
  left: 5px;
  top: 25px;
  width: 250px;
  color: red;
}

.StateInput button {
  width: 100px;
}

.StateInput .items {
  display: grid;
  max-height: 300px;
  overflow: auto;
}

.StateInput .item {
  display: grid;
  grid-template-columns: 30px auto auto;
  align-items: center;
  justify-items: left;
}

.StateInput .item .item-name {
  padding: 0 10px;
  grid-column: 2;
}

.StateInput .item .item-color {
  color: black;
  grid-column: 1;
  width: 16px;
  position: relative;
}

.StateInput .item .item-color .ant-tag {
  position: absolute;
  bottom: -8px;
}

.StateInput .item .remove-item {
  justify-self: right;
  grid-column: 3;
}

.StateInput .item .remove-icon {
  color: red;
  cursor: pointer;
}

.StateInput .ant-tag {
  height: 16px;
  cursor: pointer;
  border-radius: 0;
}

.StateInput .ant-tag.selected {
  position: relative;
  width: 16px;
}

.StateInput .ant-tag.selected i {
  position: absolute;
  left: 1px;
  top: 1px;
}
