.FilteredTasks {
  text-align: left;
}

.FilteredTasks .ant-typography {
  margin: 0;
}

.FilteredTasks .filter-sumup {
  font-size: 12px;
  color: gray;
  height: 20px;
}

.FilteredTasks .filter-sumup span {
  margin-right: 5px;
}
