.DayView {
  max-height: 600px;
  overflow: auto;
}

.DayView .event {
  display: flex;
  flex-direction: column;
  /* margin: 10px; */
  outline: 1px solid lightgray;
  margin-bottom: 10px;
  padding: 0 5px;
}

.DayView .event .event-title {
  font-weight: bold;
}

.DayView .event .invitations {
  display: flex;
  flex-direction: column;
}

.DayView .invitations .ant-badge-status-text {
  font-size: 13px;
}
