.CrudList .top-bar {
  display: grid;
  align-items: center;
  justify-content: right;
  padding: 0 20px;
}

.CrudList .content .ant-list-item {
  background-color: rgba(164, 210, 251, 0.1);
  border: 1px solid lightblue !important;
  padding: 10px;
  margin-bottom: 15px;
}

.CrudList .content .ant-list-item.selected {
  box-shadow: 0 0 10px gray;
}

.CrudList .CompanyForm {
  border: none;
}

.CrudList .ant-list button {
  border: none;
  background: transparent;
  /* border-bottom: 1px solid; */
  border-radius: 0;
}

.CrudList .ant-btn-danger {
  color: red;
}

.CrudList .ant-btn-danger:hover {
  color: darkred;
}

/* .CrudList .ant-list button.ant-btn-ghost {
  border-bottom: 1px solid lightgray;
} */
