
.CompanyForm {
  padding: 10px;
  border: 1px solid #a9d5de;
}

.CompanyForm .ant-form-item-label-left {
  float: left;
}

.CompanyForm .ant-upload {
  width: 100%;
}

.CompanyForm .submit-button {
  float: left;
}
