.EditProfile {
  max-width: 700px;
  margin: 50px auto !important;
}

.EditProfile .change-password {
  max-width: 400px;
  margin: auto;
}

.EditProfile .change-password .ant-collapse-item {
  border: none;
  text-align: left;
}

.EditProfile .change-password .ant-collapse-header {
  color: gray !important;
}

.EditProfile .change-password .ant-collapse-content {
  width: 530px;
}
