.TimeReport {
  display: grid;
  grid-template-rows: 50px 50px auto;
}

.TimeReport .time-report-header {
  width: 50%;
  display: grid;
  grid-template-columns: 30% 70%;
  margin: auto;
  align-items: center;
  justify-items: center;
}

.TimeReport .time-report-header .prop-title {
  justify-self: right;
  margin-right: 15px;
}

.TimeReport .ant-calendar-picker,
.TimeReport .ant-select {
  width: 100%;
}

.TimeReport .log-entries {
  margin: auto;
  margin-top: 50px;
}

.TimeReport .log-entries .log-entry {
  display: grid;
  grid-template-columns: 100px auto;
  text-align: left;
}

.TimeReport .log-entry .timelog {
  justify-content: left;
}

.TimeReport .log-entry .task-link {
  justify-content: left;
}
