.InputWithList .input-wrapper {
  height: 55px;
  position: relative;
}

.InputWithList .input-wrapper .err {
  font-size: 10px;
  position: absolute;
  left: 5px;
  top: 25px;
  width: 250px;
  color: red;
}

.InputWithList button {
  width: 100px;
}

.InputWithList .items {
  display: grid;
  /* max-height: 300px; */
  overflow: auto;
}

.InputWithList .item {
  display: grid;
  /* grid-template-columns: auto 30px 30px 30px; */
  grid-template-columns: auto min-content min-content min-content;
  align-items: center;
}

.InputWithList .item .anticon {
  width: 20px;
}

.InputWithList .item-input {
  height: auto;
  width: 80%;
  margin-left: 18px;
  margin-top: 0;
  margin-bottom: 12px;
  padding-top: 0;
  border: none;
  background-color: transparent;
}

.InputWithList .item .item-name {
  padding: 0 10px;
  margin-bottom: 10px;
  line-height: 18px;
}

.InputWithList .item .option {
  color: black;
  opacity: 0.4;
  grid-column: 2;
  cursor: pointer;
}

.InputWithList .item .option:hover {
  opacity: 1;
}

.InputWithList .item .edit-icon {
  grid-column: 3;
}

.InputWithList .item .remove-item {
  justify-self: center;
  grid-column: 4;
}

.InputWithList .item .remove-icon {
  color: red;
  cursor: pointer;
}
