.TaskDetails {
  --border-bottom: 1px solid lightgray;
}

.TaskDetails .first-part {
  display: grid;
  grid-template-columns: 5% 50% 40% 5%;
  grid-template-rows: min-content auto;
  border-bottom: var(--border-bottom);
}

.TaskDetails .first-part .first-right-column {
  grid-row: 2;
  grid-column: 3;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.TaskDetails .first-right-column .ant-tag {
  cursor: pointer;
  margin: 0;
}

.TaskDetails .first-part .task-description {
  grid-row: 2;
  grid-column: 2;
  padding: 35px;
  text-align: left;
  white-space: pre-wrap;
}

.TaskDetails .first-part .task-description.empty {
  opacity: 0.3;
}

.TaskDetails .first-part .task-title {
  font-size: 25px;
  line-height: 35px;
  text-align: center;
  grid-column: 2;
}

.TaskDetails .first-part .task-title-tags {
  display: block;
  height: min-content;
  line-height: 11px;
  text-align: right;
}

.TaskDetails .first-part .edit-button {
  justify-self: center;
  width: 80px;
}

.TaskDetails .second-part {
  display: grid;
  grid-template-columns: 5% 50% 40% 5%;
  padding: 20px;
  border-bottom: var(--border-bottom);
}

.TaskDetails .second-part .todos {
  grid-column: 2;
}

.TaskDetails .todo .todo-text {
  cursor: grab;
}

.TaskDetails .todo .todo-text:active {
  cursor: grabbing;
}

.TaskDetails .second-part .right-middle {
  position: relative;
  grid-column: 3;
  display: grid;
  grid-template-rows: 20px auto;
  align-items: center;
  justify-items: center;
}

.TaskDetails .InputWithList .items {
  padding: 30px 0;
}

/* .TaskDetails .InputWithList .item { */
/* justify-content: left; */
/* display: grid; */
/* grid-template-columns: calc(100% - 60px) 30px 30px; */
/* } */

.TaskDetails .InputWithList .item-name {
  justify-self: left;
}

.TaskDetails .item-name .item-text {
  word-break: break-word;
}

.TaskDetails .InputWithList i.anticon {
  padding: 0 5px;
}

.TaskDetails .InputWithList .input-wrapper {
  width: 400px;
  float: left;
}

.TaskDetails .InputWithList .input-wrapper .ant-select {
  width: 100%;
}

.TaskDetails .InputWithList button {
  float: left;
  height: 32px;
}

/* .TaskDetails .InputWithList i.remove-icon {
  float: right;
} */

.TaskDetails .item .item-name {
  width: auto;
}

.TaskDetails .ant-progress {
  align-self: center;
  justify-self: center;
  grid-row: 2;
}

.TaskDetails .progress-loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: tranlate(-50%, -50%);
}

.TaskDetails .data-wrapper {
  display: grid;
  grid-template-columns: 100px auto;
  height: 30px;
  align-items: center;
}

.TaskDetails .data-label {
  justify-self: left;
}

.TaskDetails .data-item {
  justify-self: left;
}

.TaskDetails .task-assignee {
  font-weight: bold;
  cursor: pointer;
  height: 100%;
}

.TaskDetails .assignee-span {
  cursor: pointer;
}

.TaskDetails .assignee-span .assignee-avatar {
  margin-right: 5px;
}

.TaskDetails .assignee-span .assignee-text {
  line-height: 30px;
}

.TaskDetails .created-by {
  font-weight: bold;
}

.TaskDetails .third-part {
  /* display: flex;
  flex-direction: column; */
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 5% 50% 40% 5%;
}

.TaskDetails .comments {
  grid-column: 2;
}

.TaskDetails .comments .ant-list {
  grid-row: 1;
  grid-column: 2;
}

.TaskDetails .comments .ant-mentions {
  width: 100%;
  margin: auto;
  grid-row: 2;
  grid-column: 2;
  text-align: left;
}

.TaskDetails .comments button.ant-btn {
  width: 120px;
  grid-row: 3;
  grid-column: 2;
  float: right;
}

.TaskDetails .comments .ant-comment-content-detail {
  text-align: left;
  white-space: pre-wrap;
}

.TaskDetails .hidden {
  display: none;
}

.TaskDetails .third-right {
  margin-top: 13px;
  grid-column: 3;
  justify-self: center;
}

.TaskDetails .files .files-list {
  text-align: left;
  display: flex;
  flex-direction: column;
  padding: 10px 30px;
}

.TaskDetails .time-log {
  /* margin: 15px 30px; */
  margin: auto;
  display: grid;
  grid-template-rows: min-content min-content min-content;
  width: 200px;
}

.TaskDetails .time-log button {
  max-width: 100px;
  justify-self: center;
  margin-right: 5px;
}

.TaskDetails .time-log .timelog-title {
  /* text-decoration: underline; */
  font-size: 18px;
}

.TaskDetails .timelog-entries {
  justify-self: left;
}

.TaskDetails .timelog-entries .timelog-username {
  font-weight: bold;
}

.TaskDetails .time-log .ant-input {
  /* width: 180px; */
  justify-self: center;
  margin: 10px 0;
}

.another-space-message {
  display: flex;
  flex-direction: column;
}

.another-space-message button {
  max-width: 200px;
  margin: auto;
}

.TaskDetails .task-history {
  margin-top: 20px;
}

.TaskDetails .task-history .task-history-title {
  /* text-decoration: underline; */
  font-size: 18px;
  margin-bottom: 15px;
}

.TaskDetails .task-history .task-history-timeline {
  margin-top: 15px;
}
