.App {
  text-align: center;
  display: grid;
  grid-template-rows: 70px auto;
  height: 100%;
  overflow: auto;
}

.App .app-content {
  height: 100%;
  overflow: auto;
}

.App .app-content > div {
  height: 100%;
}

.option {
  background: transparent !important;
  border: none;
  color: rgba(255, 255, 255, 0.65);
}

.ant-menu {
  text-align: left;
  /* width: 300px; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ant-menu-submenu-title {
  padding: 0 30px !important;
}

/* layout */
.main-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  display: grid;
  grid-template-rows: 50px auto 5vh;
  overflow: auto;
}

.top-bar {
  grid-row: 1;
  position: relative;
  width: 100%;
  height: 100%;
}

.content {
  grid-row: 2;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: rgba(255, 255, 255, 0.25);
  align-self: center;
  justify-self: center;
  overflow: auto;
}

.bottom-bar {
  grid-row: 3;
  position: relative;
  width: 100%;
  height: 100%;
}

.alert-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
}

.alert-container .ant-alert {
  background-color: rgba(230, 247, 255, 0.13);
  color: white;
}

.renew-tokens-modal {
  top: 40%;
  text-align: center;
}
