.MilestoneCompletedControl {
  opacity: 0.3;
  color: gray;
  cursor: pointer;
}

.MilestoneCompletedControl:hover {
  opacity: 1;
}

.MilestoneCompletedControl.complete {
  color: #31d831;
  opacity: 1;
}
