.Tags {
  width: 100%;
  margin: auto;
  padding-bottom: 95px;
  position: relative;
}

.Tags .tag-info {
  width: 40%;
  margin: auto;
}

.Tags .tag-color-picker {
  position: absolute;
  z-index: 10;
}

.Tags .tag {
  width: 40%;
  margin: auto;
  margin-top: 10px;
  border: 1px solid lightgray;
  padding: 10px;
  display: grid;
  grid-template-columns: 20% 50% 30%;
  text-align: left;
}

.Tags .tag .tag-color {
  display: grid;
  justify-content: center;
  align-items: center;
}

.Tags .tag .color-span {
  width: 30px;
  height: 17px;
  border-radius: 3px;
  cursor: pointer;
}

.Tags .tag .tag-name {
  padding: 0 5px;
}

.Tags .tag .example-tag {
  transform: scale(1.1);
}

.Tags .tag .tag-actions {
  text-align: right;
}

.Tags .tag-actions .tag-delete {
  font-size: 18px;
  cursor: pointer;
  opacity: 0.8;
}

.Tags .tag-actions .tag-delete:hover {
  opacity: 1;
}
