.Login {
  position: absolute;
  /* width: 35%; */
  /* min-width: 400px; */
  width: 300px;
  height: max-content;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Login input {
  border: 1px solid gray;
  background-color: rgba(255, 255, 255, 0.6) !important;
  color: black !important;
  font-weight: bold;
}

/* .Login input::selection {
  background: gold;
} */

.Login input::placeholder {
  color: lightgray;
}

.login-form {
  padding-bottom: 20px;
  width: 100%;
}

/* .login-button,
.login-button:hover,
.login-button:focus {
  background-color: #ffd993;
  color: black;
  border-radius: 0 !important;
  opacity: 0.75;
  box-shadow: none !important;
  border: none !important;
  outline: 2px solid #e29200 !important;
  transition: none !important;
  width: 160px;
  font-weight: bold;
} */

.signin-button {
  float: right;
}

/* .login-button:hover {
  opacity: 1;
  border: none !important;
} */

.my-logo-login {
  width: 110px;
  margin: 20px;
}

.Login {
  --err-color: red;
  --err-border-color: lighgray;
}

.Login .has-error .ant-input-affix-wrapper .ant-input,
.ant-input:hover,
.ant-input:focus {
  outline: 2px solid var(--err-border-color);
  border-color: var(--err-border-color);
}

.Login .has-error .ant-form-explain {
  font-weight: bold;
  color: var(--err-color);
}

.Login .forgot-password {
  margin-top: 20px;
  width: 100%;
}

.Login .forgot-password .ant-btn {
  border: none;
  color: lightgray;
  padding: 0;
}

.Login .forgot-password .ant-btn:hover {
  color: gray;
  border-bottom: 1px solid lightgray;
}
