.BoardTask .ant-card {
  margin: 30px 10px;
  border: 1px solid lightgray;
  cursor: pointer;
}

.BoardTask .ant-card-body {
  display: grid;
  grid-template-columns: 60% 40%;
}

.BoardTask .ant-card-body .left-part {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.BoardTask .ant-card .ant-card-head-title {
  font-weight: bold;
}

.BoardTask .ant-card-head-title .ant-tag {
  margin-left: 5px;
  cursor: pointer;
}

.BoardTask .left-part .no-data {
  margin-top: 3px;
  opacity: 0.3;
  display: grid;
  text-align: center;
}

.BoardTask .left-part .no-data i {
  font-size: 25px;
  margin-right: 4px;
}
