.Home {
  padding: 25px 100px;
  color: white;
  overflow: auto;
  background-size: cover;
}

.Home .counters {
  height: 200px;
  display: grid;
  grid-template-columns: auto auto;
  font-size: 20px;
}

.Home .counter {
  display: grid;
  grid-template-rows: auto auto;
  justify-items: center;
  align-items: center;
  padding: 40px;
}

.Home .counter .counter-title {
  /* color: gray; */
  color: lightgray;
}

.Home .counter.left {
  justify-items: right;
}

.Home .counter.right {
  justify-items: left;
}

.Home .counter .count {
  font-size: 80px;
}

.Home .section-title {
  font-size: 25px;
}

.Home .meetings,
.Home .tasks {
  height: auto;
  background-color: rgba(255, 255, 255, 0.2);
  display: grid;
  grid-template-rows: 50px auto;
  align-content: center;
  justify-content: center;
  padding: 50px;
  margin-bottom: 30px;
}

.Home .meetings .meetings-list,
.Home .task {
  text-align: left;
  font-size: 18px;
}

.Home .meeting,
.Home .task {
  cursor: pointer;
  opacity: 0.9;
}

.Home .meeting span,
.Home .task span {
  margin-right: 15px;
}

.Home .meeting:hover,
.Home .task:hover {
  opacity: 1;
}
