.Files {
  padding: 50px;
  display: grid;
  grid-template-rows: 70px auto;
}

.Files .files-header {
  display: grid;
  grid-template-columns: auto 200px;
  align-content: center;
}

.Files .files-header .upload-container {
  padding: 0 20px;
}
