.Calendar {
  overflow: hidden;
  position: relative !important;
}

.Calendar .navigation {
  position: absolute;
  left: 50%;
  top: 17px;
  transform: translate(-50%, 0);
  z-index: 5;
  font-size: 20px;
  display: grid;
  grid-template-columns: 20px 150px 20px;
}

.Calendar .navigation .anticon {
  cursor: pointer;
}

.Calendar .navigation .month-name {
  margin: 0 10px;
  font-size: 25px;
}

.Calendar .ant-radio-group {
  display: none !important;
}

.Calendar .add-meeting-button {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}

.Calendar .day-cell {
  display: flex;
  flex-direction: column;
  width: 98%;
  position: relative;
}

.Calendar .day-cell span {
  padding: 2px;
  margin: 2px 0;
  font-size: 12px !important;
}

.Calendar > .ant-fullcalendar-fullscreen {
  position: absolute;
  width: 100%;
  height: 100%;
}

.Calendar .ant-badge-dot {
  width: 8px;
  height: 8px;
  border: 1px solid red;
}

.Calendar .user-select {
  width: 200px;
  position: absolute;
  left: 60px;
  top: 10px;
  z-index: 1;
}

.Calendar .cell-time {
  font-weight: bold;
  text-decoration: underline;
}
