.Tasks {
  display: grid;
  grid-template-columns: max-content auto;
  grid-template-rows: 55px auto;
}

.Tasks .ant-page-header {
  grid-row: 1;
  grid-column: 2;
  text-align: left;
  border-bottom: 1px solid lightgray;
  margin: 0 30px;
}

.Tasks .page-title .anticon {
  margin-right: 10px;
}

.Tasks .ant-menu {
  grid-row: 1/3;
  grid-column: 1;
  border-top: 1px dashed dimgray;
  /* position: relative; */
}

.Tasks .ant-menu.ant-menu-inline {
  width: 256px;
}

.Tasks .content {
  grid-row: 2;
  grid-column: 2;
  padding: 10px;
  width: 100%;
}

.Tasks .collapse-button {
  position: fixed !important;
  bottom: 10px;
  left: 0 !important;
  right: 0 !important;
  width: 250px !important;
  z-index: 1;
  text-align: center;
}

.Tasks .ant-menu.ant-menu-inline-collapsed .collapse-button {
  width: 30px !important;
}

.Tasks .TaskForm {
  padding: 10px 60px;
}

.Tasks .MilestoneForm {
  padding: 10px 60px;
}
