.Messages {
  display: grid;
  grid-template-columns: max-content auto;
  grid-template-rows: 55px auto;

  --max-width: 800px;
}

.Messages .ant-page-header {
  grid-row: 1;
  grid-column: 2;
  text-align: left;
  border-bottom: 1px solid lightgray;
  margin: 0 30px;
}

.Messages .ant-menu {
  padding: 20px;
  grid-row: 1/3;
  grid-column: 1;
  border-top: 1px dashed dimgray;
  position: relative;
  overflow: auto;
}

.Messages .ant-menu-item .ant-badge-status-text {
  color: white !important;
}

.Messages .ant-menu.ant-menu-inline {
  width: 256px;
}

.Messages .conversation {
  grid-row: 2;
  grid-column: 2;
  padding: 10px;
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-rows: auto min-content 15px;
}

.Messages .conversation .ant-empty {
  color: gray;
  margin: 50px;
  align-self: center;
}

.Messages .conversation .input-container {
  display: grid;
  grid-template-columns: 35px auto 70px;
  max-width: var(--max-width);
  justify-self: center;
  width: 100%;
}

.Messages .conversation.loading {
  opacity: 0.3;
}

.Messages .input-container .toggle-emoji-button {
  justify-self: center;
  align-self: center;
  cursor: pointer;
  font-size: 25px;
  opacity: 0.4;
}

.Messages .input-container .toggle-emoji-button:hover {
  opacity: 0.9;
}

.Messages .conversation .ant-btn {
  height: 100%;
}

.Messages .conversation .ant-comment-content-detail {
  text-align: left;
  font-size: 18px;
  font-family: "Jaldi", sans-serif;
}

.Messages .list-wrapper {
  position: relative;
  overflow: auto;
  margin-bottom: 20px;
  height: 95%;
}

.Messages .messages {
  position: absolute;
  width: 100%;
  max-width: var(--max-width);
  left: 50%;
  transform: translate(-50%, 0);
}

.Messages .ant-comment {
  padding: 10px;
  border-bottom: 1px dotted lightgray;
}

.rta {
  position: relative;
  border-left: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-family: "Jaldi", sans-serif;
}

.rta__textarea {
  border: none;
  margin-left: 5px;
  font-family: "Jaldi", sans-serif;
}

.rta__textarea:focus {
  outline: none;
}

.rta__autocomplete {
  position: absolute;
  width: 250px;
  background-color: white;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  height: 150px;
  overflow: auto;
  font-size: 15px;
}

.rta__item--selected {
  background-color: skyblue;
}

.rta__autocomplete ul {
  list-style: none;
  text-align: left;
  margin-bottom: 0;
  padding: 0;
}

.rta__autocomplete li {
  margin-bottom: 5px;
  padding: 3px 20px;
  cursor: pointer;
}

.rta__autocomplete li:hover {
  background-color: skyblue;
}
