.App-header {
  display: grid;
  grid-template-columns: min-content auto min-content min-content min-content max-content;
  background-color: #001529;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header .App-logo {
  grid-column: 1;
  animation: App-logo-spin infinite 20s linear;
  height: 70px;
  padding-left: 10px;
  padding-top: 1px;

  filter: invert(1);
  padding: 10px;
}

.App-header .App-link {
  color: #61dafb;
}

.App-header .notifications-icon {
  grid-column: 5;
  margin: 0 10px;
  cursor: pointer;
  font-size: 20px;
}

.ant-popover {
  border: none !important;
}

.ant-popover .mark-all-seen-button {
  border: none;
  float: right;
  color: lightgray;
}

.ant-popover .notification {
  display: grid;
  padding: 3px;
  border-bottom: 1px solid lightgray;
}

/* .ant-popover .notification .notification-title {
  font-weight: bold;
} */

.ant-popover .notification .notification-title {
  display: grid;
  grid-template-columns: auto auto;
}

.ant-popover .notification-title .title {
  justify-self: left;
  font-size: 14px;
}

.ant-popover .notification-title .time {
  justify-self: right;
  color: gray;
  font-size: 11px;
  font-style: italic;
  align-self: center;
}

.ant-popover .notification-text {
  font-size: 13px;
}

.ant-popover .notifications-container {
  overflow: auto;
  max-height: 300px;
}

.ant-popover .ant-popover-arrow {
  display: none;
}

.ant-popover {
  /* overflow: auto; */
  width: 350px;
  border-bottom: 1px solid lighgray !important;
  padding-bottom: 0;
}

.ant-popover-inner {
  border-radius: 0 !important;
  border: 1px solid lightgray;
}

.App-header .logout-menu {
  grid-column: 6;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  width: max-content;
}

.App-header .user-icon {
  margin-right: 5px;
}

.App-header .brand {
  font-size: 12px;
  color: lighgray;
}

.App-header .ant-select {
  color: white;
  width: 170px;
  margin: 5px;
}

.App-header .ant-select-selection {
  color: white;
  background: transparent;
}

.App-header .ant-select .ant-select-arrow {
  color: white;
}

.App-header .ant-menu-item button {
  padding: 0;
}
